* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/*HEADER STYLES*/
#header {
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition-duration: 0.3s;
  width: 100%;
  height: 4.5rem;
}

.header-left-side {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-header-left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.logo-icon {
  width: 40px;
  height: 40px;
  background: #1450ef;
  padding: 10px;
  border-radius: 10px;
  font-weight: 900;
  color: white;
}

.logo-text {
  font-weight: bold;
  font-size: 16px;
}
/*HEADER STYLES*/

/*NAVBAR STYLES*/
nav.header-nav > ul {
  display: flex;
  align-items: center;
  gap: 25px;
}

nav.header-nav > ul > li {
  list-style-type: none;
}

nav.header-nav > ul > li > a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: rgb(73, 73, 73);
}

nav.header-nav li a:hover {
  color: #155dfc;
  transition: all 0.3s ease;
}
/*NAVBAR STYLES*/

/*HOME SECTION STYLES*/
.container {
  margin: 4rem auto 2rem auto;
  width: 80%;
  padding: 1.5rem;
}

.home-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 1.5rem;
}

.home-grid-text {
  margin-bottom: 1rem;
}

.home-grid-title {
  color: #101828;
  font-size: 3rem;
}

.home-grid-paragraph {
  color: hsla(240, 1%, 17%, 0.74);
  letter-spacing: 1px;
}

.home-grid-left-side {
  text-align: center;
  background-color: #cde3fecc;
  border: 1px solid #cde3fe;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.home-grid-left-side img {
  text-align: center;
  height: 60vh;
  width: 40vh;
  padding: 1.5rem;
}

.home-grid-right-side-btn {
  padding: 0.75rem;
  border-radius: 10px;
  color: white;
  background-color: #155dfc;
  border: none;
  font-weight: 500;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.home-grid-right-side-btn:hover {
  transform: scale(1.1);
  background-color: #0f4fff;
  transition: all 0.7s ease;
}
/*HOME SECTION STYLES*/

/*SERVICES SECTION STYLES*/
.main-title {
  color: #101828;
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
}

.main-title h2,
p {
  margin-bottom: 0.75rem;
}
.services-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.small-paragraph {
  color: hsla(0, 0%, 9%, 0.74);
  font-size: 15px;
  letter-spacing: 1px;
}

.services-card {
  border: 1px solid #f9fafb;
  background-color: #f9fafb;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2rem;
}

.services-card:hover {
  transition: all 0.5s ease;
  transform: scale(1.1);
}

.services-card-html-img {
  border: 1px solid none;
  background-color: #155dfc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.services-card-modern-css-img {
  border: 1px solid none;
  background-color: #00c950;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.services-card-responsive-design-css-img {
  border: 1px solid none;
  background-color: #9810fa;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.services-card h3,
p {
  margin-bottom: 0.75rem;
}

.services-card-title {
  font-weight: 450;
}

.services-card-list-item-text {
  color: hsla(0, 0%, 9%, 0.74);
  letter-spacing: 1px;
  font-size: 15px;
}

.services-card-list-item-html {
  color: blue;
}

.services-card-list-item-modern-css {
  color: #00c950;
}

.services-card-list-item-responsive {
  color: #9810fa;
}

/*SERVICES SECTION STYLES*/
/*PLANS STYLES*/
.plans-container {
  padding: 6rem 4rem;
  margin: auto;
}

.plans-main-title {
  text-align: center;
  margin: 1.5rem;
}

.plans-main-title h2,
p {
  margin-bottom: 1rem;
}

.prices-table {
  border-radius: 15px;
  overflow-x: auto;
  /* border: 1px solid black; */
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
  border-collapse: collapse;
  width: 100%;
}
.plans-small-text {
  font-size: 0.75rem;
  color: hsla(0, 0%, 9%, 0.74);
}

.plans-bigger-text {
  font-weight: 600;
  color: #101828;
}

.plans-small-text-badge {
  font-size: 0.75rem;
  border: 1px solid none;
  font-weight: bold;
  padding: 0.2rem;
  color: #ffffff;
  text-align: center;
  background-color: #155dfc;
  border-radius: 10px;
}

.prices-table th,
td {
  padding: 1rem 1.5rem;
}

.plans-td-text {
  color: hsla(0, 0%, 0%, 0.774);
  letter-spacing: 1px;
}

.prices-table thead tr {
  text-align: center;
  background-color: #101828;
  color: white;
}

.plan-btn1 {
  color: #155dfc;
  font-weight: bold;
  padding: 20px;
  border: 2px solid #155dfc;
  border-radius: 20px;
  background-color: #ffffff;
}

.plan-btn1:hover {
  transition: all 0.3s ease;
  background-color: #155dfc;
  color: #ffffff;
}

.plan-btn2 {
  color: #ffffff;
  font-weight: bold;
  padding: 20px;
  border: 2px solid #155dfc;
  border-radius: 20px;
  background-color: #155dfc;
}
/*PLANS STYLES*/

/*STUDENT STORIES STYLES*/
.student-stories-container {
  padding: 3rem 2rem;
  text-align: center;
  margin: auto;
}
.student-stories-main-title {
  text-align: center;
  margin: 1.5rem;
}

.student-stories-main-title h2,
p {
  margin-bottom: 1rem;
}

.student-stories-grid {
  display: grid;
  margin: 1.5rem;
  grid-template-columns: 1fr 1fr;
}

.student-abbreviation1 {
  background-color: blue;
  color: #ffffff;
  padding: 10px;
  border-radius: 100px;
}

.student-abbreviation2 {
  background-color: green;
  color: #ffffff;
  padding: 10px;
  border-radius: 100px;
}

.student-card h4 {
  padding: 10px;
  margin: 5px;
}
/*STUDENT STORIES STYLES*/

/*CONTACT STORIES STYLES*/
.contact-container {
  padding: 3rem 2rem;
  margin: auto;
}

.contact-main-title {
  text-align: center;
  margin: 1.5rem;
}

.form-container {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 2rem;
  border-radius: 20px;
}

.form-container form input {
  width: 60vw;
  padding: 1rem;
  margin-bottom: 0.7rem;
  border-radius: 8px;
  border: 0.5px solid;
}

.form-container form button {
  padding: 0.7rem;
  border-radius: 10px;
  border: 1px none;
  font-weight: bold;
  color: #ffffff;
  background-color: #155dfc;
}
/*CONTACT STORIES STYLES*/

/*FOOTER CONTAINER*/
.footer-container {
  background-color: #101828;
  color: #99a1af;
  padding: 3rem 2rem;
  margin: auto;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-flex a {
  text-decoration: none;
  color: #99a1af;
  margin: 10px;
}

.footer-flex a:hover {
  transition: all 0.3s ease;
  color: #ffffff;
}
/*FOOTER CONTAINER*/
